.contenedor{
    font-family: "Arial", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}



.anoucement {
    font-size: 75px;
    align-items: center;
    display: block;
    font-family: monospace;
    white-space: nowrap;
    border-right: 4px solid;
    width: 20ch;

    animation: typing 7s steps(20) infinite , blink .5s infinite step-end alternate;
    overflow: hidden;
}

@keyFrames typing {

    from {
        width: 0
    }
}

@keyFrames blink {
    50% {
        border-color: transparent
    }
}

@media only screen and (max-width: 800px) {
    .anoucement {
        font-size: 40px;
        align-items: center;
    }
}