.content {
    display: flex;
    justify-content: space-between;
    opacity: 0.5;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;

}

.content .image {
    margin: 1%;
    width: 100px;
}

.content .menus {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1%;
}