.cForm {
  display: flex;
    justify-content: center;
    align-items: center;
}

.field {
    margin-bottom: 10px;
  }
  
  .field label {
    margin-top: 10px;
    display: flex;
    font-size: 20px;
    color: #F0F0F0;
  }
  
  .field input {
    margin-top: 10px;
    display: flex;
    min-width: 400px;
    line-height: 1.5;
    font-size: 18px;
    background-color: #aaaaaa;
  }

  .field .message {
    margin-top: 10px;
    display: flex;
    min-width: 400px;
    min-height: 125px;
    line-height: 1.5;
    font-size: 14px;
    background-color: #aaaaaa;
    resize: none;
  }
  
  input[type="submit"] {
    margin-top: 25px;
    padding: 6px 30px;
    font-size: 14px;
    background-color: #1f1e1e;
    color: #F0F0F0;
    border: none;
    transition: 0.5s;
  }

  input[type="submit"]:hover {
    background-color: #F0F0F0;
    color: #1f1e1e;
  }